// Estilo general para el diálogo
:host {
    display: block;
    width: 100%;
  }
  
  // Estilo para el título del diálogo
  h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  // Contenedor del diálogo
  mat-dialog-content {
    padding: 20px;
  
    // Estilo para los campos del formulario
    mat-form-field {
      width: 100%;
      margin-bottom: 15px;
  
      // Estilo para el label
      mat-label {
        color: #3f51b5; // Color del label
      }
  
      // Estilo para el input
      input {
        border-radius: 4px;
      }
    }
  }
  
  // Estilo para los botones
  mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  
    button {
      flex: 1;
      margin: 0 5px; // Margen entre los botones
  
      // Estilo para el botón de registrar
      &:last-child {
        background-color: #4caf50; // Color de fondo verde
        color: white;
      }
  
      // Estilo para el botón de cancelar
      &:first-child {
        background-color: #f44336; // Color de fondo rojo
        color: white;
      }
  
      // Transición para los botones
      transition: background-color 0.3s ease;
  
      &:hover {
        opacity: 0.8; // Cambia la opacidad al pasar el mouse
      }
    }
  }
  